<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
            <body>
                <div class="form-holder">
                    <form id="loginform" method="post" action="/check">
                        <div class="form-group">
                            <label for='username'>Username:</label>
                            <input name="username" id="username" type="text" />
                        </div>
                        
                        <div class="form-group">
                            <label for='password'>Password:</label>
                            <input name="password" id="password" type="password" />
                        </div>
    
                        <div class="form-group">
                            <input id="submit" type="submit" value="submit" />
                        </div>
                    </form>
                </div>
                <script src="script.js"></script>
            </body
</html>

